<h1>{{title|uppercase}}</h1>
<h1>{{name|uppercase}}</h1>
<h1>{{title|titlecase}}</h1>
<h1>{{'THIS IS AN ANIMAL'|lowercase}}</h1>
<h1>{{'THIS IS AN ANIMAL'|titlecase}}</h1>
<h1>{{0.25|percent}}</h1>
<h1>{{0.25|currency:'INR'}}</h1>
<h1>{{0.25|currency:'USD'}}</h1>
<h1>{{'shantanu'|uppercase|slice:2:5}}</h1>
<p>{{employee|json}}</p>
<h2>{{currentDate|date}}</h2>
<h2>{{currentDate|date:'short'}}</h2>
<h2>{{currentDate|date:'medium'}}</h2>
<h2>{{currentDate|date:'full'}}</h2>

<h2>{{2|power:8}}</h2>
<h1>{{newName}}</h1>
